html{
 scroll-behavior: smooth;
}
body {
  font-family: 'Open Sans',Arial,sans-serif;
  --theme-color: 77;
  background-color: hsl(var(--theme-color, 100), 50%, 90%);
  margin: 0px;
  background-color: gray;
  padding: 0px;
}
.nav-link{
  font-family: 'Playfair Display', serif;
  font-size: x-large;}
.to-top{
  background: rgb(27, 4, 4);
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #eee1e1;
  text-decoration: none;
  pointer-events: none;
  transition: all .4s;
}
.to-top.active{
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}

  /* The typing effect */
    
  .intro {
    display: flex;
    margin-left: 580px;
    text-align: right;
    font-size: larger;
    color: rgb(201, 40, 12)152);
    align-items: center;
}

.typing {
    margin-left: 200px;
    position: relative;
    font-weight: 400;
    text-align: right;
    font-size: larger;
    color: purple;
}

.typing::after {
    content: "";
    position: absolute;
    right: -5px;
    width: 1px;
    height: 90%;
    border-right: 22px solid rgb(155, 4, 4)62, 153, 153);
    animation: blink 0.5s infinite ease;
}
h1{

}
.my-image {
  width: 150px;
  border-radius: 50%;
  height: 200px;
  margin-left: 770px;
}

#about-me {
  padding-top: 20px;
  background-color: blueviolet;
  color: #eee1e1;
}
.row{
}
.column{
  text-align: center;
}

.about-tagline {
  margin: auto;
  width: 500px;
  text-align: center;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

#app {
  font-size: 70px;
  line-height: 78px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

strong {
  font-weight: 700;
}
.go-down{
  background: rgb(27, 4, 4);
  position: fixed;
  bottom: 16px;
  left: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #eee1e1;
  text-decoration: none;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding-top: 10px;
  z-index: 1;
  background-color: hsl(var(--theme-color, 100), 50%, 90%); 
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#navbar {
  margin-right: 20px;
}

#navbar a {
  margin: 4vw;
  text-decoration: inherit;
  color: black;
}

#welcome-section {
    padding: 45vh 0;
    /*text-align: right;*/
    background-image: url(image/c2.jpg);
    background-size: cover;
    border-radius: 50px;
    opacity: 50%;
}

h2 {
  text-align: center;
  padding-top: 20px;
}

#welcome-section {
  min-height: 100px;
  text-align: center;
}

#projects {
  background-color: hsl(var(--theme-color2, 100), 50%, 100%);
  padding-bottom: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

#projects h2 {
  margin-bottom: 30px;
}
#fcbk{
}


#projects-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 6vw;
  grid-row-gap: 6vh;
  max-width: 900px;
  margin-left: 20vw;
  margin-right: 20vw;
  justify-items: center;
  align-items: center;
  font-family: 'Alegreya', serif;
}

#projects img {
  width: 100%;
  height: 100%;
}

#projects-content a {
  display: grid;
  grid-template-rows: 1fr 35px;
  align-items: center;
  justify-items: center;
  text-align: center;
  border-style: solid;
  width: 300px;
  height: 210px;
  text-decoration: none;
  color: black;
  border-width: 2px;
  border-style: outset;
  border-color: hsl(var(--theme-color, 100), 0%, 20%);
  background-color: hsl(var(--theme-color, 100), 0%, 95%);
}

#show-all {
  border: solid;
  border-width: 1px;
  border-radius: 15px;
  text-decoration: none;
  padding: 7px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 25px;
  text-align: center;
  color: black;
  border-color: hsl(var(--theme-color, 100), 50%, 72%);
  background-color: hsl(var(--theme-color, 100), 0%, 95%);
}

#show-all:hover {
  animation-name: show-all-bg;
  animation-duration: 600ms;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@keyframes show-all-bg {
  50% {
    background-color: hsl(var(--theme-color, 100), 90%, 80%);
    transform: scale(1.05);
  }
  100% {
    background-color: hsl(var(--theme-color, 100), 50%, 87%);
    transform: scale(1.1);
  }
}

#contact-me {
  margin-top: 40px;
  text-align: center;
  background-color: rgb(69, 214, 168);
}

.contact-us-form{
  color: aquamarine;
  background-color: aquamarine;
}
.label-col {
  float: left;
  margin-left: 42rem;
  text-align: right;
}

.input-col {
  margin-left: 1px;
  margin-right: 38rem;
}

.submit-button{
  color: white;
  background-color: red;
}
#contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 280px;
}

#contacts h2 {
  margin-top: 50px;
  margin-bottom: 0px;
}
#contacts p {
  margin-bottom: 30px;
}

#contacts-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /*background-color: honeydew;*/
}

#contacts a {
  display: inline-block;
  line-height: 100px;
  width: 100px;
  height: 100px;
  text-align: center;
  border: solid;
  border-width: 1px;
  border-radius: 50%;
  text-decoration: none;
  color: black;
  background-color: hsl(var(--theme-color, 100), 50%, 72%);
  margin-left: 2vw;
  margin-right: 2vw;
}

header, .main-section, footer {
  padding-left: 5px;
  padding-right: 5px;
}
header{
  background-color: lightgrey;
}

footer {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  background-color: hsl(var(--theme-color, 100), 50%, 82%);
  background-color: rgb(59, 58, 58);/*footer down*/
}

@media(max-width: 700px) {
  #projects-content a {
    width: 240px;
    height: 168px;
  }
}

@media(max-width: 650px) {
  #tel {
    grid-column: 2 / 4;
    margin: auto;
  }
  #contacts-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
  }
  #contacts {
    min-height: 390px;
  }
}

@media(max-width: 570px) {
  #projects-content {
    grid-template-columns: 1fr;
  }
}

@media(max-width: 550px) {
  #contacts-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  #tel {
    grid-column: 1 / 3;
    grid-row: 3;
  }
  #contacts {
    min-height: 500px;
  }
}
